<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">
    
    <!-- Spring Enhanced ConnectionFactory -->
    <bean id="connectionFactory" class="org.apache.activemq.spring.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://localhost:61616"/>
    </bean>
    
<!-- ActiveMQ own ConnectionFactory
    <bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://localhost:61616"/>
    </bean>
-->
    
    <bean id="queue" class="org.apache.activemq.command.ActiveMQQueue">
    	<constructor-arg value="mailbox-destination"/>
    </bean>
    
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
    	<property name="connectionFactory" ref="connectionFactory"/>
    	<property name="defaultDestinationName" value="mailbox-destination"/>
    	<!-- the substitute for defaultDestinationName
    		<property name="defaultDestination" ref="queue"/>
    	-->
    </bean>
</beans>
