<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:jms="http://www.springframework.org/schema/jms"
	xmlns:amq="http://activemq.apache.org/schema/core"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/jms
    http://www.springframework.org/schema/jms/spring-jms.xsd
    http://activemq.apache.org/schema/core
    http://activemq.apache.org/schema/core/activemq-core-5.10.0.xsd">
    
    <!-- Spring Enhanced ConnectionFactory -->
    <!--
    <bean id="connectionFactory" class="org.apache.activemq.spring.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://localhost:61616"/>
    </bean>
    -->
    
	<!-- ActiveMQ own ConnectionFactory, equivalent to amq:connectionFactory
    <bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://localhost:61616"/>
    </bean>
	-->
	<amq:connectionFactory id="connectionFactory" brokerURL="tcp://localhost:61616"/>
	
	<!-- queue destination, equivalent to amq:queue
	<bean id="queue" class="org.apache.activemq.command.ActiveMQQueue">
    	<constructor-arg value="mailbox-destination"/>
    </bean>
    -->
    <amq:queue id="queue" physicalName="mailbox-destination"/>
    
    <amq:queue id="replyQueue" physicalName="replyto_queue"/>
    
    <amq:queue id="sessionAwareQueue" physicalName="session-aware"/>

	<bean id="messageHandler" class="org.tobby.jms.spring.server.receive.MessageReceiver"/>
    
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
    	<property name="connectionFactory" ref="connectionFactory"/>
    	<property name="defaultDestination" ref="queue"/>
    	<!-- the substitute for defaultDestination
    		<property name="defaultDestinationName" value="mailbox-destination"/>
    	-->
    </bean>
	
	<!-- This is the Message Driven Pojo(MDP) -->
	<bean id="exampleMessageListener" class="org.tobby.jms.spring.server.mdp.ExampleMessageListener"/>
	
	<!-- Tis the Message Driven Pojo for SessionAwareMessageListener -->
	<bean id="exampleSessionAwareMessageListener" 
		class="org.tobby.jms.spring.server.mdp.SessionAwareMessageListenerExample">
		<property name="destination" ref="sessionAwareQueue"/>
	</bean>
	
	<!-- This is the MessageListenerAdapter Listener -->
	<bean id="adapterMessageListener" class="org.springframework.jms.listener.adapter.MessageListenerAdapter">
		<constructor-arg>
			<bean class="org.tobby.jms.spring.server.mdp.DefaultMessageDelegate"/>
		</constructor-arg>
	</bean>
	
	<bean id="textMessageListenerAdapter" class="org.springframework.jms.listener.adapter.MessageListenerAdapter">
		<constructor-arg>
			<bean class="org.tobby.jms.spring.server.mdp.DefaultTextMessageDelegate"/>
		</constructor-arg>
		<property name="defaultListenerMethod" value="recieve"/>
		<property name="messageConverter">
			<null/>
		</property>
	</bean>
	
	<bean id="responsiveMessageListenerAdapter" class="org.springframework.jms.listener.adapter.MessageListenerAdapter">
		<constructor-arg>
			<bean class="org.tobby.jms.spring.server.mdp.DefaultResponsiveTextMessageDelegate"/>
		</constructor-arg>
		<property name="defaultListenerMethod" value="recieve"/>
	</bean>
		
	<!-- This is message listener Container -->
<!-- 	<bean id="jmsContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory"/>
		<property name="destination" ref="queue"/>
		<property name="messageListener" ref="responsiveMessageListenerAdapter"/>
	</bean> -->
	
	<jms:annotation-driven/>
	
	<bean id="jmsListenerContainerFactory" class="org.springframework.jms.config.DefaultJmsListenerContainerFactory">
		<property name="connectionFactory" ref="connectionFactory"/>
		<property name="concurrency" value="3-10"/>
	</bean>
	
	<bean class="org.tobby.jms.spring.server.annotation.AnnotatedJMSListener"/>

</beans>
